.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.TwoApp {
  display: flex;
  align-items: start;
  justify-content: baseline;
  flex-direction: column;
  gap: 20px;
}

textarea {
  padding: 10px;
}